################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC_2023/AOC_2023/obj
/AOC_2023/.vs/AOC_2023/DesignTimeBuild
/AOC_2023/.vs/AOC_2023/FileContentIndex
/AOC_2023/.vs/AOC_2023/v17
/AOC_2023/.vs/ProjectEvaluation
/.vs/AoC/v17
/.vs/AoC/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AOC_2022
/AOC_2023/AOC_2023/bin/Debug/net8.0
/.vs
/AOC_2023/AOC_2023/bin/Release/net8.0/AOC_2023.deps.json
/AOC_2023/AOC_2023/bin/Release/net8.0/AOC_2023.dll
/AOC_2023/AOC_2023/bin/Release/net8.0/AOC_2023.exe
/AOC_2023/AOC_2023/bin/Release/net8.0/AOC_2023.pdb
/AOC_2023/AOC_2023/bin/Release/net8.0/AOC_2023.runtimeconfig.json
/AOC_2023/AOC_2023/bin/Release/net8.0/DayInputs/Day1.txt
/AOC_2023/AOC_2023/bin/Release/net8.0/DayInputs/Day2.txt
/AOC_2023/AOC_2023/bin/Release/net8.0/DayInputs/Day3.txt
/AOC_2023/AOC_2023/bin/Release/net8.0/DayInputs/Day4.txt
/AOC_2023/AOC_2023/bin/Release/net8.0/DayInputs/Day5.txt
