################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC_2022/AOC_2022/.vs
/AOC_2023/AOC_2023/obj
/AOC_2023/.vs/AOC_2023/DesignTimeBuild
/AOC_2023/.vs/AOC_2023/FileContentIndex
/AOC_2023/.vs/AOC_2023/v17
/AOC_2023/.vs/ProjectEvaluation
/.vs/AoC/v17
/.vs/AoC/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AOC_2022
/AOC_2023/AOC_2023/bin/Debug/net8.0
/.vs
/AOC_2022/AOC2022_1/.vs/AOC2022_1/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.assets.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.csproj.AssemblyReference.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.GeneratedMSBuildEditorConfig.editorconfig
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.dgspec.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.props
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.targets
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.assets.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.csproj.AssemblyReference.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.GeneratedMSBuildEditorConfig.editorconfig
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.assets.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.nuget.cache
/AOC_2022/AOC2022_1/.vs/AOC2022_1/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC2022_1/.vs/AOC2022_1/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.dgspec.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.props
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.targets
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.assets.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.csproj.AssemblyReference.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.GeneratedMSBuildEditorConfig.editorconfig
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.assets.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.nuget.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.dgspec.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.props
/AOC_2022/AOC2022_1/AOC2022_1/obj/AOC2022_1.csproj.nuget.g.targets
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.assets.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.csproj.AssemblyReference.cache
/AOC_2022/AOC2022_1/AOC2022_1/obj/Debug/net6.0/AOC2022_1.GeneratedMSBuildEditorConfig.editorconfig
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.assets.json
/AOC_2022/AOC2022_1/AOC2022_1/obj/project.nuget.cache
/AOC_2023/AOC_2023/bin/Release/net8.0
/AOC_2022/AOC2022_5/.vs/AOC2022_5/v17/.suo
/AOC_2022/AOC2022_5/.vs/AOC2022_5/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC2022_5/.vs/AOC2022_5/FileContentIndex/read.lock
/AOC_2022/AOC2022_5/.vs/AOC2022_5/FileContentIndex/b0f2e49d-722e-413a-8776-7b35e184ca19.vsidx
/AOC_2022/AOC_2022/.vs/AOC_2022/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC_2022/.vs/AOC_2022/FileContentIndex/78d96bbb-d532-4a16-86cf-2589df8d7a04.vsidx
/AOC_2022/AOC_2022/.vs/AOC_2022/DesignTimeBuild/.dtbcache.v2
/AOC_2022/AOC_2022/.vs/AOC_2022/v17/.futdcache.v2
/AOC_2022/AOC_2022/.vs/AOC_2022/FileContentIndex/78d96bbb-d532-4a16-86cf-2589df8d7a04.vsidx
/AOC_2022/AOC_2022/.vs/AOC_2022/FileContentIndex/e04078c6-efdc-4c63-9617-a7f2c895224b.vsidx
/AOC_2022/AOC_2022/.vs/AOC_2022/FileContentIndex/read.lock
/AOC_2022/AOC_2022/.vs/AOC_2022/v17/.suo
/AOC_2022/AOC_2022/.vs/ProjectEvaluation/aoc_2022.projects.v5.1
/AOC_2022/AOC_2022/.vs/ProjectEvaluation/aoc_2022.metadata.v5.1
/AOC_2022/AOC_2022/AOC_2022/obj/Debug/net6.0/AOC_2022.AssemblyInfoInputs.cache
/AOC_2022/AOC_2022/AOC_2022/obj/Debug/net6.0/AOC_2022.assets.cache
/AOC_2022/AOC_2022/AOC_2022/obj/Debug/net6.0/AOC_2022.csproj.AssemblyReference.cache
/AOC_2022/AOC_2022/AOC_2022/obj/Debug/net6.0/AOC_2022.GeneratedMSBuildEditorConfig.editorconfig
/AOC_2022/AOC_2022/AOC_2022/obj/Debug/net6.0/apphost.exe
/AOC_2022/AOC_2022/AOC_2022/obj/AOC_2022.csproj.nuget.g.props
/AOC_2022/AOC_2022/AOC_2022/obj/AOC_2022.csproj.nuget.dgspec.json
/AOC_2022/AOC_2022/AOC_2022/obj/project.assets.json
/AOC_2022/AOC_2022/AOC_2022/obj/project.nuget.cache
/AOC_2024/.vs
/AOC_2024/AOC_2024/obj
/AOC_2024/AOC_2024/bin/
/AOC_2025/AOC_2025/.vs/AOC_2025
/AOC_2025/AOC_2025/obj
